.button {
  border: solid 1px transparent;
  background: linear-gradient(
    89.89deg,
    var(--blue-1) -30.01%,
    var(--blue-2) 125.65%
  );
  border-radius: 4.2rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: var(--white);
  padding: 0.8rem 1.2rem;

  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;

  transition: all 300ms ease;

  svg {
    path {
      stroke: var(--white);
    }
  }

  &:hover {
    border-color: var(--blue-1);
    background: var(--white);
    color: var(--blue-2);
    svg {
      path {
        stroke: var(--blue-2);
      }
    }
  }
}

.filter {
  position: relative;
}

.checkboxes {
  position: absolute;
  top: 5rem;
  background: var(--white);
  width: 20rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.6rem;
  padding: 0.5rem;

  box-shadow: 0px 0px 16px rgba(79, 79, 80, 0.15);

  input {
    width: auto;
  }

  label {
    width: 100%;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: var(--black);

    display: flex;
    align-items: center;

    gap: 0.5rem;
  }
}
