.filterField {
  margin: 3.2rem 0 0;

  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;

  @media (min-width: 1000px) {
    flex-direction: row;
  }
}

.input {
  width: 100%;
  border-bottom: solid 1px #f4f4f4;
  position: relative;

  & > svg {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translate(0, -50%);
  }

  input {
    width: 100%;
    border: 0;

    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: var(--black);
    padding: 1rem 4rem 1rem 1rem;

    &::placeholder {
      color: transparent;
    }
  }

  @media (min-width: 600px) {
    padding: 1rem 4rem;

    svg {
      left: 0.5rem;
    }

    input {
      &::placeholder {
        color: var(--gray-400);
      }
    }
  }
}

.mobileButtons {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translate(0, -50%);

  align-items: center;
  gap: 1rem;

  @media (min-width: 600px) {
    display: none !important;
  }
}

.buttons {
  display: none;

  @media (min-width: 600px) {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
