.label {
  cursor: pointer;
  width: 100%;
  padding: 1rem;
  border-bottom: solid 2px transparent;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  p {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: var(--gray-400);
  }

  p:last-child {
    background: var(--gray-050);
    border: 1px solid var(--gray-200);
    border-radius: 5.9rem;
    width: 4rem;
    font-size: 1.2rem;
    display: grid;
    place-items: center;
  }

  @media (min-width: 600px) {
    width: fit-content;
    gap: 1.8rem;

    p {
      font-size: 1.8rem;
      line-height: 2.1rem;
    }
  }

  transition: all 300ms ease-in-out;

  &:hover:not(.checked) {
    border-color: var(--blue-1);
  }

  &.checked {
    border-color: var(--orange);

    p:not(:last-child) {
      color: var(--black);
    }

    & > svg {
      path {
        stroke: var(--black);
        fill: var(--white);
      }
    }
  }
}
