.header {
  background: var(--gray-750);
  padding: 0 2.4rem;
  height: 7.2rem;
  display: none;
  color: var(--white);

  @media (min-width: 600px) {
    display: flex;
    align-items: center;
    gap: 2.2rem;
  }

  span:not(:last-child) {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.8rem;
  }

  span:last-child {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.9rem;
  }
}

.main {
  padding: 4rem 2.4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}
